* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-link:hover
 {
  background-color: rgb(232, 245, 245); 
}

.nav-link{
  color: black;
}

ul.brcr li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}

.image {
  width: 80px;
  height: 80px;
}

.flex-container {
  display: flex;
  padding-left: 100px;
}
.flex-container > div {
  width: 80px;
  height: 40px;
  line-height: 40px;
  padding: 0 6px;
  text-align: center;
}



.menu {
  width: 65px;
  border-bottom: 1.5px solid black;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 30px;
}

.menu-items {
  padding: 7px;
  justify-content: center;
  align-items: center;
}

.menu-items:hover{
    background-color:skyblue;
    color: white;
}
.small {
  letter-spacing: 1.5px;
}

.card {
  position: relative;
}

.price {
  width: 60px;
  height: 25px;
  border-radius: 0 20px 20px 20px;
  background-color: #f9f6f6;
  position: absolute;
  top: 35px;
  left: 35px;
}

.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 30px;
}

.page-item {
  padding: 7px;
  justify-content: center;
  align-items: center;
}

.page-item:hover {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
}

.text-strong {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: fit-content;
}
@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .flex-container {
    padding: 3px;
  }
  .con-btn {
    margin-left: 150px;
  }
  .menu-container {
    display: none;
  }

  .card {
    margin-left: 90px;
  }

  .pages {
    margin-left: 80px;
  }

  .list-unstyled li{
    text-align: start;
}
}

@media (max-width:700px) {
    .flex-container {
        padding: 9px;
      }

      .con-btn {
        margin-left: 150px;
      }

      .card {
        margin-left: 120px;
      }

      .list-unstyled li{
        text-align: start;
    }
}

@media (max-width:1000px){
    .list-unstyled li{
        text-align: start;
    }
}


